<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide production">
			<div class="container">
				<div class="production__title-wrap">
					<span>ФормКомпозит1</span>
					<h2 class = "production__swiper-title">Производство несущих и крепёжных систем</h2>
				</div>
			</div>
		</div>
		<div class="swiper-slide production">
			<div class="container">
				<div class="production__title-wrap">
					<span>ФормКомпозит1</span>
					<h2 class = "production__swiper-title">Производство несущих и крепёжных систем</h2>
				</div>
			</div>
		</div>
		<div class="swiper-slide production">
			<div class="container">
				<div class="production__title-wrap">
					<span>ФормКомпозит1</span>
					<h2 class = "production__swiper-title">Производство несущих и крепёжных систем</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="swiper-pagination"></div>
	<!-- If we need scrollbar -->
	<!-- <div class="swiper-scrollbar"></div> -->
</div>